<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 10px -5px;
    }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
    height: 400px;
    align-self: center;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>

<main>

    <% var snowJacket = 'https://images.boardriders.com/globalGrey/quiksilver-products/all/default/large/eqytj03266_quiksilver,w_bpcw_frt1.jpg' %>
    <% var rainJacket = 'https://cdn.shopify.com/s/files/1/1811/1477/products/A6_Rain_Jacket_Coyote_Front_WEB.jpg?v=1582164836' %>
    <% var lightJacket = 'https://cdn.shopify.com/s/files/1/0055/1242/products/EXP54LWZC-CNV_55d6ceb3-6996-43be-99be-196331c4ad0e_2048x.jpg?v=1574111422' %>
    <% var fleece = 'https://cdni.llbean.net/is/image/wim/504674_1704_41?hei=1095&wid=950&resMode=sharp2&defaultImage=llbprod/A0211793_2' %>
    <% var pants = 'https://mobile.yoox.com/images/items/13/13721518XP_14_r.jpg?impolicy=crop&width=387&height=490' %>
    <% var shorts = 'https://lp2.hm.com/hmgoepprod?set=format%5Bwebp%5D%2Cquality%5B79%5D%2Csource%5B%2Fd9%2Fbb%2Fd9bbeb60f6e081034f7f935e62ef24697ebc07a1.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url%5Bfile%3A%2Fproduct%2Fmain%5D' %>
    <% var snowBoots = 'https://www.rei.com/media/a63b8bf7-9f56-4807-bbc1-3d5a8b820c92?size=784x588' %>
    <% var shoes = 'https://assets.hermes.com/is/image/hermesproduct/quicker-sneaker--102190ZH09-worn-1-0-0-800-800_b.jpg' %>
    <% var birks = 'https://www.birkenstock.com/on/demandware.static/-/Sites-master-catalog/default/dw1c14c58a/151183/151183.jpg' %>
    <% var condition = search.current.condition.code %>
    <% var dayOrNight = 'night' %>
    <% if( search.current.is_day){ %>
    <%    dayOrNight = 'day' %>
    <% } %>
    
    <br>
    <h1 style="margin:auto; text-align: center;">Clothing for <%= search.location.name %> </h1>
    <div class="row" >
        <div class="column">
            <div class="card">
                <h3>Clothing Photos:</h3>
                <% if(condition == 1066 || condition ==  1117 || condition >= 1198 && condition <= 1225 || condition == 1279 || condition == 1282){ %>
                    <image src='<%=snowJacket%>'>
                <% } %>
                <p>Photo of lower body + Shoes</p>
                <p>Photo of Accessory</p>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <h3>Weather condition: <%= search.current.condition.text %></h3>
                <p><img src="/resources/weatherIcons/<%=dayOrNight%>/<%= (search.current.condition.icon).slice(-7)%>"></p>
                <p>Temperature: <%= search.current.temp_f %>ยบ F</p>
                <p>Some text</p>
            </div>
        </div>
    </div>


</main>


<%- include ('../partials/footer') %>