<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> 
<% if (!session.user){ %>
<%- include ('../partials/menu') %>
<% } else { %>
<%- include ('../partials/menu_logout') %>
<% } %>

<main>
  <script type="module" src="index.js"></script>

  <h1 style="text-align: center"> WeatherMen Weather Advisor</h1>

    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <!-- <form action="/results" method="GET"> 
        <input type="search" id="location" name="location" placeholder="Search...">
        <button>Search</button>
      </form> -->

      <div class="card-group mt-5 mb-2">

        <div class="card" style="color: black;">
          <img src="https://wallpaperaccess.com/full/31121.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Tokyo</h5>
            <p class="card-text">Local Time: <%=  search[0].data.location.localtime%></p>
            <p class="card-text">Temperature (F): <%=  search[0].data.current.temp_f%>º</p>
            <p class="card-text">Humidity: <%=  search[0].data.current.humidity%></p>
            <p class="card-text">Wind Speed: <%=  search[0].data.current.wind_mph%> MPH</p>
            <p class="card-text">Condition: <%=  search[0].data.current.condition.text %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card" style="color: black;">
          <img src="https://wallpaperaccess.com/full/123346.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">New York</h5>
            <p class="card-text">Local Time: <%=  search[1].data.location.localtime%></p>
            <p class="card-text">Temperature (F): <%=  search[1].data.current.temp_f%>º</p>
            <p class="card-text">Humidity: <%=  search[1].data.current.humidity%></p>
            <p class="card-text">Wind Speed: <%=  search[1].data.current.wind_mph%> MPH</p>
            <p class="card-text">Condition: <%=  search[1].data.current.condition.text %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card" style="color: black;">
          <img src="https://wallpaperaccess.com/full/1137473.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paris</h5>
            <p class="card-text">Local Time: <%=  search[2].data.location.localtime%></p>
            <p class="card-text">Temperature (F): <%=  search[2].data.current.temp_f%>º</p>
            <p class="card-text">Humidity: <%=  search[2].data.current.humidity%></p>
            <p class="card-text">Wind Speed: <%=  search[2].data.current.wind_mph%> MPH</p>
            <p class="card-text">Condition: <%=  search[2].data.current.condition.text %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card" style="color: black;">
          <img src="https://www.10wallpaper.com/wallpaper/1920x1080/1506/guomao_beijing_china-Cities_HD_Wallpaper_1920x1080.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Beijing</h5>
            <p class="card-text">Local Time: <%=  search[3].data.location.localtime%></p>
            <p class="card-text">Temperature (F): <%=  search[3].data.current.temp_f%>º</p>
            <p class="card-text">Humidity: <%=  search[3].data.current.humidity%></p>
            <p class="card-text">Wind Speed: <%=  search[3].data.current.wind_mph%> MPH</p>
            <p class="card-text">Condition: <%=  search[3].data.current.condition.text %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card" style="color: black;">
          <img src="https://wallpapercave.com/wp/wp2981069.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">London</h5>
            <p class="card-text">Local Time: <%=  search[4].data.location.localtime%></p>
            <p class="card-text">Temperature (F): <%=  search[4].data.current.temp_f%>º</p>
            <p class="card-text">Humidity: <%=  search[4].data.current.humidity%></p>
            <p class="card-text">Wind Speed: <%=  search[4].data.current.wind_mph%> MPH</p>
            <p class="card-text">Condition: <%=  search[4].data.current.condition.text %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>

    </div>


</main>




<%- include ('../partials/footer') %>