<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> 
<%- include ('../partials/menu_logout') %>

<main>
  <h1 style="text-align: center"> Welcome <%- username %>!</h1>
  <h3 style="text-align: center"> These are your favortie cities!</h3>
  <div style="height: 100px;">
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <div class="table-wrapper-scroll-y my-custom-scrollbar" style="overflow: hidden; overflow-y: scroll; height: 420px;">
      <table class="table" id = "CLASSTABLE">
          <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">Country</th>
              <th scope="col">Favorite</th>
              <th scope="col">Weather</th> 
              <th scope="col">Clothing Suggestions</th>                             
            </tr>
          </thead>
          <tbody>


            <% data.forEach(place => { %>
 
                <form id="form" action = "/discover/remove" method="POST">

                  <tr>
                    <th> <%-place.city%></th>
                    <th> <%-place.country%></th>
                    <input type="hidden" id = "cityID" name="cityID" value="<%- place.cityid %>">
                    <th> 
                        <button type="submit" class="btn btn-outline-danger">Remove</button>
                        
                    </th>
                  </form>
                    <form id="form" action = "/results?:location" method="GET">
                      <input type="hidden" id = "location" name="location" value="<%- place.city %>">
                    <th> 
                      <button type="submit" class="btn btn-outline-dark">Weather</button>
                    
                    </form>
                    </th>
                    
                    <form id="form" action = "/clothing" method="GET">
                      <input type="hidden" id = "place" name="place" value="<%- place.city %>">
                    <th> 
                      <button type='submit' class="btn btn-outline-info">Clothing</button>
                      
                    </th>
                    </form>
                  </tr>
    
                
                





              <!-- <form id="form" action = "/discover/add" method="POST">

              <tr>
                <th> <%-place.city%></th>
                <th> <%-place.country%></th>
                <input type="hidden" id = "cityID" name="cityID" value="<%- place.cityid %>">
                <th> 
                    <button type="submit" class="btn btn-outline-success">Favorite</button>
                    
                </th>
              </tr>

            </form> -->
            <% }); %>
  
              </tbody>
            </table>
        </div>
      </div>
    </div>
      </main>




<%- include ('../partials/footer') %>