<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> 
<% if (!session.user){ %>
<%- include ('../partials/menu') %>
<% } else { %>
<%- include ('../partials/menu_logout') %>
<% } %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/results" method="GET"> 
      <input type="search" id="location" name="location" placeholder="Search...">
      <button>Search</button>
    </form>
    <table class="table">
      <thead>
          <th>City</th>
          <th>Local Time</th>
          <th>Temperature (f)</th>
          <th>Humidity</th>
          <th>Wind Speed</th>
          <th>Condition</th>
      </thead>
      <tbody>
          </div>
            <tr>
              <td><%=  search.location.name%></td>
              <td><%=  search.location.localtime%></td>
              <td><%=  search.current.temp_f%>ยบ</td>
              <td><%=  search.current.humidity%></td>
              <td><%=  search.current.wind_mph%> MPH</td>
              <td><%=  search.current.condition.text %></td>
              <td>
                <% let test = false %>
                <% data2.forEach(fav => {
                  if (fav.cityid == data[0].cityid) {
                    test = true;
                  }
                }); %>
                <% if (test == true) { %>
                  <form id="form" action = "/results/remove" method="POST">
                    <input type="hidden" id = "cityid" name="cityid" value="<%- data[0].cityid %>">
                    <button type="submit" class="btn btn-outline-danger">Remove</button>
                  </form>
                  <% } else {%>
                    <form id="form" action = "/results/add" method="POST">
                      <input type="hidden" id = "city" name="city" value="<%- search.location.name %>">
                      <button type="submit" class="btn btn-outline-success">Favorite</button>
                    </form>
                    <% } %>
              </td>
              <td>
                  <form action='/clothing' method= "GET">
                    <input type='hidden' name="place" id="place" value="<%-  search.location.name%>">
                    <button type='submit' class="btn btn-block" style="background-color: rgb(245, 172, 252);">Clothing</button>
                </form>
            </td>
            </tr>
      </tbody>
  </table> 
  </div>
</main>

<%- include ('../partials/footer') %>
