<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action="/results" method="GET"> 
      <input type="search" id="location" name="location" placeholder="Search...">
      <button>Search</button>
    </form>
    <table class="table">
      <thead>
          <th>City</th>
          <th>Local Time</th>
          <th>Temperature (f)</th>
          <th>Humidity</th>
          <th>Wind Speed</th>
          <th>Condition</th>
      </thead>
      <tbody>
          </div>
            <tr>
              <td><%=  search.location.name%></td>
              <td><%=  search.location.localtime%></td>
              <td><%=  search.current.temp_f%>ยบ</td>
              <td><%=  search.current.humidity%></td>
              <td><%=  search.current.wind_mph%> MPH</td>
              <td><%=  search.current.condition.text %></td>
              <td>
                  <form action='/clothing' method= "GET">
                    <input type='hidden' name="place" id="place" value="<%-  search.location.name%>">
                    <button type='submit' class="btn btn-block" style="background-color: rgb(245, 172, 252);">Clothing</button>
                </form>
            </td>
            </tr>
      </tbody>
  </table> 
  </div>
</main>

<%- include ('../partials/footer') %>
