<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu_logout') %>

<style>
  .color{
    color: white;
  }
</style>

<main>
  <% var lines = "" %>
  <h1 align="center"> Travel Suggestions </h1>
  <div class="" align='center'>
    <h5> You have added <h5>
    <div class='color'>
          <tr>
            <th> <%-data%> </th> ,
          </tr>

    </div>
    <h5> as favorites. </h5>
  </div>

  <h4 align='center'>Here are some suggestions for cities to visit:</h4>

  <table class="table" id = "CLASSTABLE">
      <thead>
        <tr>
          <th scope="col" style='background-color: #FFFFE0; text-align:center'>City</th>
          <th scope="col" style='background-color: #FFFFE0; text-align:left'>Country</th>
          <th scope="col" style='background-color: #FFFFE0'>Favorite</th>
        </tr>
      </thead>

  <% data2.forEach(place => { %>

          <tr>
            <th style='color:white'> <%-place.city%></th>
            <th style='color:white'> <%-place.country%></th>
          </tr>
  <% }); %>
</main>

<%- include ('../partials/footer') %>
