<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu_logout') %>


<main>
  <% var lines = "" %>
  <h1 align="center"> Travel Suggestions </h1>
  <div class="" align='center'>
    <h5> You have added <h5>
    <% data.forEach(place => { %>
      <% for (i = 1; i<= 1; i++) { %>
         <%-place.city%>
     <% } %>
    <% }); %>
    <h5> as favorites </h5>
  </div>

  <h4 align='center'>Here are some suggestions for cities to visit:</h4>
  <% data.forEach(place => { %>
  <form id="form" align='center' action = "/travel/add" method="POST">
    <!-- Configure how to add in other cities -->
    <tr>
      <th> <%-place.country%></th>
      <input type="hidden" id = "cityID" name="cityID" value="<%- place.cityid %>">
      <th>
          <button type="submit" class="btn btn-outline-success">Favorite</button>

      </th>

    </form>
    <% }); %>
</main>

<%- include ('../partials/footer') %>
