<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %>
<%- include ('../partials/menu_logout') %>

<main>
  <% var lines = "" %>
  <h1 align="center"> Travel Suggestions </h1>
  <div class="" align='center'>
    <h5> Another user(s) has added similar cities, here are some suggestions: </h5>
  </div>

  <div class='container'>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="overflow: hidden; overflow-y: scroll; height: 420px;">
      <table class="table" id = "CLASSTABLE">
        <thead style="color: white;">
          <tr>
            <th scope="col">City</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody style="color: white;">

          <% data2.forEach(place => { %>

                  <tr>
                    <th style='color:white'> <%-place.city%> </th>
                    <th style='color:white'> <%-place.country%> </th>
                  </tr>
          <% }); %>

        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
