<div class="col"><%- include ('../partials/message') %></div>
<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<h1 align="center"> Travel Suggestions </h1>
<% data.forEach(place => { %>
  <div id="carouselOne" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselOne" data-slide-to="0" class="active"></li>
          <li data-target="#carouselOne" data-slide-to="1"></li>
          <li data-target="#carouselOne" data-slide-to="2"></li>
        </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="code/images/tokyo.jpg" alt="Slides">
            </div>
          </div>
        <a class="carousel-control-prev" href="#carouselOne" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselOne" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>

  <h5>You have added <%-place.city%> as your favorite</h5>
  <p>Here are some suggestions for cities</p>

<% }); %>



<%- include ('../partials/footer') %>
